// contains sensitive information

const email_credentials = {
  TRANSPORTER: 'smtps://USERNAME%40example.com:PASSWORD@smtp.example.com',
  NAME: 'USERNAME',
  ADDRESS: 'USERNAME@example.com'
}

const EMAIL_LIST = 'EMAIL1@example.com, EMAIL2@example.com'

module.exports = {
  email_credentials: email_credentials,
  EMAIL_LIST: EMAIL_LIST
};
